/* Basic editor styles */
.tiptap :first-child {
  margin-top: 0;
}

/* List styles */
.tiptap ul,
.tiptap ol {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
  margin: 0 0 1.25rem 0;
}

/* Task list specific styles */
.tiptap ul[data-type="taskList"] {
  list-style: none;
  margin-left: 0;
  padding: 0;
}

.tiptap ul[data-type="taskList"] li {
  align-items: center;
  display: flex;
}

.tiptap ul[data-type="taskList"] li[data-checked="true"] > div > p {
  text-decoration: line-through;
  color: var(--color-gray-500);
}

.tiptap ul[data-type="taskList"] li > label {
  display: inline-flex;
  margin: 0 0.5rem 0 0;
  user-select: none;
}

.tiptap ul[data-type="taskList"] li > label > input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.tiptap ul[data-type="taskList"] li > div {
  flex: 1 1 auto;
  font-weight: 500;
}

.tiptap ul[data-type="taskList"] input[type="checkbox"] {
  cursor: pointer;
}

.tiptap.ProseMirror:focus-visible {
  outline: none;
}
